In [2]:
import numpy as np
import pandas as pd
import csv as csv

In [3]:
def preprocess(filename):
    data_df = pd.read_csv(filename, header=0)
    data_df['Gender'] = data_df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
    # All missing Embarked -> just make them embark from most common place
    if len(data_df.Embarked[ data_df.Embarked.isnull() ]) > 0:
        data_df.Embarked[ data_df.Embarked.isnull() ] = data_df.Embarked.dropna().mode().values

    Ports = list(enumerate(np.unique(data_df['Embarked'])))    # determine all values of Embarked,
    Ports_dict = { name : i for i, name in Ports }              # set up a dictionary in the form  Ports : index
    data_df.Embarked = data_df.Embarked.map( lambda x: Ports_dict[x]).astype(int)     # Convert all Embark strings to int
    dummy_embarked = pd.get_dummies(data_df['Embarked'],prefix='Embarked',drop_first=False)
    data_df = pd.concat([data_df,dummy_embarked], axis=1)
    data_df = data_df.drop(['Embarked'],axis=1)
    # All the ages with no data -> make the median of all Ages
    median_age = data_df['Age'].dropna().median()
    if len(data_df.Age[ data_df.Age.isnull() ]) > 0:
        data_df.loc[ (data_df.Age.isnull()), 'Age'] = median_age
    data_df['Age'] *= 0.1

    # Remove the Name column, Cabin, Ticket, and Sex (since I copied and filled it to Gender)
    data_df = data_df.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'PassengerId'], axis=1)
    return data_df

In [4]:
train_df = preprocess('train.csv')
test_df = preprocess('test.csv')

/Users/hudawei/anaconda3/envs/tf/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
train_df

,Survived,Pclass,Age,SibSp,Parch,Fare,Gender,Embarked_0,Embarked_1,Embarked_2
0,0,3,2.2,1,0,-0.048707,1,0,0,1
1,1,1,3.8,1,0,0.076277,0,1,0,0
2,1,3,2.6,0,0,-0.047390,0,0,0,1
3,1,1,3.5,1,0,0.040786,0,0,0,1
4,0,3,3.5,0,0,-0.047146,1,0,0,1
5,0,3,2.8,0,0,-0.046349,1,0,1,0
6,0,1,5.4,0,0,0.038370,1,0,0,1
7,0,3,0.2,3,1,-0.021723,1,0,0,1
8,1,3,2.7,0,2,-0.041128,0,0,0,1
9,1,2,1.4,1,0,-0.004164,0,1,0,0
10,1,3,0.4,1,1,-0.030262,0,0,0,1
11,1,1,5.8,0,0,-0.011036,0,0,0,1
12,0,3,2.0,0,0,-0.047146,1,0,0,1
13,0,3,3.9,1,5,-0.001814,1,0,0,1
14,0,3,1.4,0,0,-0.047528,0,0,0,1
15,1,2,5.5,0,0,-0.031629,0,0,0,1
16,0,3,0.2,4,1,-0.006010,1,0,1,0
17,1,2,2.8,0,0,-0.037484,1,0,0,1
18,0,3,3.1,1,0,-0.027725,0,0,0,1
19,1,3,2.8,0,0,-0.048756,0,1,0,0
20,0,2,3.5,0,0,-0.012110,1,0,0,1
21,1,2,3.4,0,0,-0.037484,1,0,0,1
22,1,3,1.5,0,0,-0.047186,0,0,1,0
23,1,1,2.8,0,0,0.006433,1,0,0,1
24,0,3,0.8,3,1,-0.021723,0,0,0,1
25,1,3,3.8,1,5,-0.001594,0,0,0,1
26,0,3,2.8,0,0,-0.048756,1,1,0,0
27,0,1,1.9,3,2,0.450483,1,0,0,1
28,1,3,2.8,0,0,-0.047479,0,0,1,0
29,0,3,2.8,0,0,-0.047447,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
861,0,2,2.1,1,0,-0.040412,1,0,0,1
862,1,1,4.8,0,0,-0.012248,0,0,0,1
863,0,3,2.8,8,2,0.072894,0,0,0,1
864,0,2,2.4,0,0,-0.037484,1,0,0,1
865,1,2,4.2,0,0,-0.037484,0,0,0,1
866,1,2,2.7,1,0,-0.035809,0,1,0,0
867,0,1,3.1,0,0,0.035703,1,0,0,1
868,0,3,2.8,0,0,-0.044316,1,0,0,1
869,1,3,0.4,1,1,-0.041128,1,0,0,1
870,0,3,2.6,0,0,-0.047447,1,0,0,1
871,1,1,4.7,1,1,0.039721,0,0,0,1
872,0,1,3.3,0,0,-0.053099,1,0,0,1
873,0,3,4.7,0,0,-0.045292,1,0,0,1
874,1,2,2.8,1,0,-0.016014,0,1,0,0
875,1,3,1.5,0,0,-0.048756,0,1,0,0
876,0,3,2.0,0,0,-0.043641,1,0,0,1
877,0,3,1.9,0,0,-0.047447,1,0,0,1
878,0,3,2.8,0,0,-0.047447,1,0,0,1
879,1,1,5.6,0,1,0.099456,0,1,0,0
880,1,2,2.5,0,1,-0.012110,0,0,0,1
881,0,3,3.3,0,0,-0.047447,1,0,0,1
882,0,3,2.2,0,0,-0.042331,0,0,0,1
883,0,2,2.8,0,0,-0.042364,1,0,0,1
884,0,3,2.5,0,0,-0.049098,1,0,0,1
885,0,3,3.9,0,5,-0.006010,0,0,1,0
886,0,2,2.7,0,0,-0.037484,1,0,0,1
887,1,1,1.9,0,0,-0.004302,0,0,0,1
888,0,3,2.8,1,2,-0.017087,0,0,0,1
889,1,1,2.6,0,0,-0.004302,1,1,0,0
890,0,3,3.2,0,0,-0.047731,1,0,1,0

In [6]:
Fmax = train_df['Fare'].max()
Fmin = train_df['Fare'].min()
Fmean = train_df['Fare'].mean()
Fmax-Fmin

512.32920000000001

In [7]:
train_df['Fare'] = (train_df['Fare']-Fmean)/(Fmax-Fmin)
train_df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Gender,Embarked_0,Embarked_1,Embarked_2
0,0,3,2.2,1,0,-0.048707,1,0,0,1
1,1,1,3.8,1,0,0.076277,0,1,0,0
2,1,3,2.6,0,0,-0.047390,0,0,0,1
3,1,1,3.5,1,0,0.040786,0,0,0,1
4,0,3,3.5,0,0,-0.047146,1,0,0,1

下面来看一下测试集里的情况

In [1]:
test_df

NameError: name 'test_df' is not defined

In [11]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
Pclass        418 non-null int64
Age           418 non-null float64
SibSp         418 non-null int64
Parch         418 non-null int64
Fare          417 non-null float64
Gender        418 non-null int64
Embarked_0    418 non-null uint8
Embarked_1    418 non-null uint8
Embarked_2    418 non-null uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 20.9 KB

In [12]:
test_df

,Pclass,Age,SibSp,Parch,Fare,Gender,Embarked_0,Embarked_1,Embarked_2
0,3,3.45,0,0,7.8292,1,0,1,0
1,3,4.70,1,0,7.0000,0,0,0,1
2,2,6.20,0,0,9.6875,1,0,1,0
3,3,2.70,0,0,8.6625,1,0,0,1
4,3,2.20,1,1,12.2875,0,0,0,1
5,3,1.40,0,0,9.2250,1,0,0,1
6,3,3.00,0,0,7.6292,0,0,1,0
7,2,2.60,1,1,29.0000,1,0,0,1
8,3,1.80,0,0,7.2292,0,1,0,0
9,3,2.10,2,0,24.1500,1,0,0,1
10,3,2.70,0,0,7.8958,1,0,0,1
11,1,4.60,0,0,26.0000,1,0,0,1
12,1,2.30,1,0,82.2667,0,0,0,1
13,2,6.30,1,0,26.0000,1,0,0,1
14,1,4.70,1,0,61.1750,0,0,0,1
15,2,2.40,1,0,27.7208,0,1,0,0
16,2,3.50,0,0,12.3500,1,0,1,0
17,3,2.10,0,0,7.2250,1,1,0,0
18,3,2.70,1,0,7.9250,0,0,0,1
19,3,4.50,0,0,7.2250,0,1,0,0
20,1,5.50,1,0,59.4000,1,1,0,0
21,3,0.90,0,1,3.1708,1,0,0,1
22,1,2.70,0,0,31.6833,0,0,0,1
23,1,2.10,0,1,61.3792,1,1,0,0
24,1,4.80,1,3,262.3750,0,1,0,0
25,3,5.00,1,0,14.5000,1,0,0,1
26,1,2.20,0,1,61.9792,0,1,0,0
27,3,2.25,0,0,7.2250,1,1,0,0
28,1,4.10,0,0,30.5000,1,0,0,1
29,3,2.70,2,0,21.6792,1,1,0,0
...,...,...,...,...,...,...,...,...,...
388,3,2.10,0,0,7.7500,1,0,1,0
389,3,0.60,3,1,21.0750,1,0,0,1
390,1,2.30,0,0,93.5000,1,0,0,1
391,1,5.10,0,1,39.4000,0,0,0,1
392,3,1.30,0,2,20.2500,1,0,0,1
393,2,4.70,0,0,10.5000,1,0,0,1
394,3,2.90,3,1,22.0250,1,0,0,1
395,1,1.80,1,0,60.0000,0,0,0,1
396,3,2.40,0,0,7.2500,1,0,1,0
397,1,4.80,1,1,79.2000,0,1,0,0
398,3,2.20,0,0,7.7750,1,0,0,1
399,3,3.10,0,0,7.7333,1,0,1,0
400,1,3.00,0,0,164.8667,0,0,0,1
401,2,3.80,1,0,21.0000,1,0,0,1
402,1,2.20,0,1,59.4000,0,1,0,0
403,1,1.70,0,0,47.1000,1,0,0,1
404,1,4.30,1,0,27.7208,1,1,0,0
405,2,2.00,0,0,13.8625,1,1,0,0
406,2,2.30,1,0,10.5000,1,0,0,1
407,1,5.00,1,1,211.5000,1,1,0,0
408,3,2.70,0,0,7.7208,0,0,1,0
409,3,0.30,1,1,13.7750,0,0,0,1
410,3,2.70,0,0,7.7500,0,0,1,0
411,1,3.70,1,0,90.0000,0,0,1,0
412,3,2.80,0,0,7.7750,0,0,0,1
413,3,2.70,0,0,8.0500,1,0,0,1
414,1,3.90,0,0,108.9000,0,1,0,0
415,3,3.85,0,0,7.2500,1,0,0,1
416,3,2.70,0,0,8.0500,1,0,0,1
417,3,2.70,1,1,22.3583,1,1,0,0